<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-05-01T23:42:13Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mdimeglio/Library/Mobile Documents/com~apple~CloudDocs/Documents/Education/Uni/2017-S1/COMP1511/My GitHub/week09/Pointers/Pointers.xcodeproj</string>
</dict>
</plist>
